.input-group {
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.input-nicktitle {
  /* background-color: bisque; */
  height: 40px;
  width: 300px;
  border-radius: 12px;
  padding: 0 20px;
  border: 2px solid rgb(160, 213, 246);
}

.input-content {
  /* background-color: lightseagreen; */
  height: 150px;
  width: 300px;
  border-radius: 12px;
  padding: 0 20px;
  border: 2px solid rgb(160, 213, 246);
}

.add-button {
  /* background-color: lightsalmon; */
  height: 30px;
  width: 100px;
  border-radius: 12px;
  padding: 0 12px;
  margin: 50px 0px 0px 0px;
  border: 2px solid rgb(160, 213, 246);
}

.h2ninput {
  /* background-color: aqua; */
  margin: 0px 0px 25px 0px;
}

.h2 {
  /* background-color: firebrick; */
  margin: 0px 0px 13px 15px;
}

.ntc {
  margin: 55px 0px 0px 0px;
}
