.wrap-comment {
  width: 750px;
  /* border-radius: 12px;
  border: 2px solid rgb(172, 183, 190); */
}

.isKcvs {
  height: 400px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transition: height 400ms ease-in-out 0s;
}

.hPRjqN {
  /* background-color: darkblue; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  width: 726px;
  padding: 0px 12px;
}

.bziMUR {
  /* background-color: blueviolet; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid rgb(177, 177, 177);
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  width: 110px;
}

.SVavv {
  /* background-color: chocolate; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  padding: 0px 12px;
  border-top: 3px solid rgb(238, 238, 238);
}

.fBRIGy {
  /* background-color: darkcyan;//안먹히는중복 */
  font-size: 16px;
}

.cSGhKx {
  /* background-color: darkolivegreen;//안보임 */
  width: 150px;
}

.iskVDh {
  /* background-color: orange; */
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 0px 12px;
  font-size: 14px;
  border: 2px solid rgb(247, 166, 166);
}

.kJEvVR {
  /* background-color: lightpink; */
  height: 350px;
  overflow: scroll;
}

.jOlBJN {
  /* background-color: skyblue; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 3px solid rgb(238, 238, 238);
  height: 70px;
  padding: 0px 12px;
}

.cPgLdn {
  /* background-color: yellow; */
  width: 80%;
  font-size: 15px;
  margin-left: 8px;
}

.fBRIGy {
  /* background-color: springgreen;//안먹히는 중복 */
  font-size: 16px;
}

.jPiwpb {
  /* background-color: red; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: 3px;
}

.bPVoHM {
  /* background-color: rgb(38, 254, 31); */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid rgb(164, 229, 237);
  border-radius: 8px;
  cursor: pointer;
  width: 45px;
  height: 30px !important;
  margin-right: 8px;
}
