.main-group {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.main-title {
  /* background-color: rgb(173, 229, 135); */
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.inform {
  /* background-color: rgb(141, 185, 213); */
  margin: 20px;
}

.buttons {
  /* background-color: rgb(223, 126, 201); */
  border-radius: 12px;
  border: 2px solid rgb(172, 183, 190);
  height: 300px;
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.button-post {
  /* background-color: rgb(255, 232, 55); */
  height: 95px;
  width: 350px;
  border-radius: 12px;
  margin: 50px 0px 0px 0px;
  border: 2px solid rgb(160, 213, 246);
  padding-left: 12px;
}

.button-list {
  /* background-color: rgb(152, 208, 174); */
  height: 95px;
  width: 350px;
  border-radius: 12px;
  padding: 0 12px;
  margin: 30px 0px 50px 0px;
  border: 2px solid rgb(160, 213, 246);
}
.inside-1 {
  /* background-color: lightsalmon; */
  font-size: 25px;
  margin-left: 13px;
}
.inside-2 {
  /* background-color: lightpink; */
  font-size: 13px;
  margin-left: 13px;
}

.wrap {
  text-align: left;
}
